@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', "Noto Sans Khmer", sans-serif;
}

:root {
    --text: #04060b;
    --background: #f0f2fa;
    --primary: #3058cf;
    --secondary: #8da3e2;
    --accent: #6a85dc;
    --white: #ffffff;
    --radius: 12px;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s ease;
}

.navbar {
    width: 100%;
}

.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    position: relative;
}

.navbar .navbar-brand img {
    height: 62px;
}

.navbar .bg-nav-after::after {
    content: '';
    width: 113px;
    height: 62px;
    background-color: rgb(13, 110, 253);
    position: absolute;
    top: 0;
    right: 0;
}

.navbar .bg-after::after {
    content: '';
    position: absolute;
    top: 0;
    right: -62px;
    border-style: solid;
    border-width: 62px 62px 0 0;
    border-color: white transparent transparent transparent;
    transform: rotate(0deg);
}

.navbar .navbar-nav .nav-item {
    padding-inline: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: white;

}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* ===== Herobanner ===== */
.herobanner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url(../img/herobanner.jpg) no-repeat top center;
    background-size: cover;
    align-content: center;
    position: relative;
}

.herobanner::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, rgba(141, 164, 226, 0.711), rgba(255, 255, 255, 0.044));
    position: absolute;
}

.herobanner .banner-title {
    position: absolute;
    top: 140px;
}

.herobanner .form-control {
    padding: 15px;
    border: 1px solid var(--primary);
}

/* ===== find-fixer ===== */
.find-fixer {
    background-color: #f8fafc;
}

/* ===== Why-us ===== */
.why-us {
    background-color: var(--background);
}

.why-us .card-icon i {
    font-size: 40px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    background-color: #EFF6FF;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    color: blue;
}

/* ===== Popular-Service ===== */
.popular-service {
    background-color: var(--background);
}

.popular-service .popular-title {
    width: 100%;
}

.style-line {
    width: 100px;
    padding: 2.5px;
    border-radius: 10px;
}

.popular-service .card {
    border: none;
    box-shadow: rgba(163, 215, 255, 0.3) 0px 1px 2px 0px, rgba(163, 215, 255, 0.3) 0px 2px 6px 2px;
}

.popular-service .service-rating {
    font-size: 18px;
    color: yellow;
}

.popular-service .service-price {
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
}

.popular-service .card-height {
    height: 400px;
}

/* ===== Popular-Fixer ===== */
.popular-fixer {
    background-color: #f8fafc;
}

.popular-fixer .card {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.popular-fixer .card-body .d-flex i {
    font-size: 18px;
    color: yellowgreen;
}

.popular-fixer .tag span{
    font-size: 14px;
    background-color: #f5f5f5;
}

/* ===== Q&A-Customer ===== */
.question {
    background-color: var(--background);
}

.question .accordion-item {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}

.question .accordion-item i {
    font-size: 24px;
    color: var(--primary)
}

.question .card {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* ===== footer ===== */
.footer .style-line {
    width: 70px;
    padding: 2.5px;
    border-radius: 10px;
}

.footer .social-links a {
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    font-size: 20px;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

.footer .footer-service {
    list-style: none;
}

.footer .footer-service li a {
    color: white;
    display: block;
    padding: 5px 0;
}