/*--login page--*/
.login {
    background: linear-gradient(rgba(108, 48, 221, 0), rgba(40, 27, 230, 0.048)),
        url(../image.login.register/background.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.card-container {
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.form-side {
    padding: 50px;
    background: linear-gradient(to bottom, #fdfdfd, #fef9ec);
}

.form-control {
    border-radius: 30px;
    padding: 12px 18px;
}

.submit-btn {
    border-radius: 30px;
    background: #0D6EFD;
    font-weight: 600;
    border: none;
}

.submit-btn:hover {
    color: white;
    background: #0B5ED7;
}

.btn-dark:hover {
    background-color: #333 !important;
    border-color: #333 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.btn-danger:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(220, 53, 70, 0.493);
    transition: 0.5s ease;
}

.social-btn {
    transition: all 0.3s ease;
}

.social-btn i {
    transition: transform 0.2s ease;
}

.social-btn:hover i {
    transform: scale(1.1);
}

.image-side {
    background: url("../image.login.register/pic\ login.webp") center/cover no-repeat;
    min-height: 500px;
}