@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', "Noto Sans Khmer", sans-serif;
}
/*========================= user profile  ================================*/
@media  (min-width:768px){
    .user-profile-top .profile-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
}
@media  (max-width:767px){
    .user-profile-top .profile-img img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.user-profile-top .profile-img{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    line-height: 30px;
}
.user-profile-top .profile-info{
  
 display: flex;
 justify-content: center;
}
.user-profile-top .profile-info .address{
    flex-direction: column;
}
}
/*====================== service history ============= */
.user-profile-body .service-detail{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}